#navBar {
  background-color: var(--accent2);
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 10;
  border-radius: 50px;
  padding: 0 25px;
  box-shadow: 1px 1px 10px var(--black);
}

#navBar a {
  float: left;
  display: block;
  color: var(--white);
  text-align: center;
  font-size: 15px;
  padding: 15px;
  text-decoration: none;
}

#navBar a:hover {
  background-color: var(--accent2-highlight);
}

#resumeButton {
  background-color: var(--accent1);
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 10;
  border-radius: 50px;
  padding: 0 0px;
  box-shadow: 1px 1px 10px var(--black);
}

#resumeButton a {
  float: left;
  display: block;
  color: var(--white);
  text-align: center;
  font-size: 15px;
  padding: 15px;
  text-decoration: none;
}

#resumeButton:hover {
  background-color: var(--accent1-highlight);
}

#hamburgerMenu {
  display: none;
  position: fixed;
  z-index: 10;
  top: 10px;
  left: calc(100vw - 55px);
  box-shadow: 1px 1px 10px var(--black);
}

#contactBar {
  background-color: var(--accent2);
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 10;
  border-radius: 50px;
  padding: 15px;
  box-shadow: 1px 1px 10px var(--black);
}

#contactBar a {
  color: var(--white);
  font-size: 30px;
  user-select: none;
  cursor: pointer;
  margin: 5px 0;
}

.app-section {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

#home {
  position: relative;
  height: 100vh;
  padding-top: 0;
}

.home-left {
  position: absolute;
  top: calc(50vh - 150px);
  width: 60vw;
}

#headshot {
  position: absolute;
  left: 20vw;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  z-index: 2;
  box-shadow: 1px 1px 10px var(--black);
}

#headshot-block {
  position: absolute;
  left: calc(20vw + 25px);
  top: 25px;
  border-radius: 10px;
  background-color: var(--accent2);
  z-index: 1;
  height: 300px;
  width: 300px;
}

.home-right {
  position: absolute;
  height: 100vh;
  left: calc(20vw + 300px + 25px + 25px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title-name {
  font-size: 50px;
  font-weight: bold;
  text-align: left;
}

#title-sub {
  font-size: 20px;
  color: var(--accent2);
  text-align: left;
}

.header {
  font-size: 30px;
  text-align: right;
  position: absolute;
  right: 65vw;
}

.content {
  font-size: 15px;
  text-align: left;
  position: relative;
  top: -23px;
  left: 40vw;
  padding-top: 30px;
  width: 40vw;
}

.content-title {
  font-size: 20px;
  text-align: left;
}

.content-sub {
  color: var(--accent2);
  font-size: 15px;
  font-style: italic;
  margin-top: 8px;
  position: relative;
}

.content-date {
  color: var(--accent2);
  font-size: 15px;
  font-style: italic;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 62px;
}

.skill-row {
  display: flex;
  flex-direction: row;
  width: 45vw;
}

.proj {
  text-align: left;
  margin-bottom: 50px;
  margin-right: 50px;
  position: relative;
  left: 40vw;
  /* width: calc(100vw - 35vw); */
  padding: 20px 0;
  width: 35vw;
}

.bg-block {
  position: absolute;
  background-color: var(--white);
  top: 3vw;
  height: 33vw;
  width: 35vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: -1;
}

.project-pics {
  width: 32vw;
  position: relative;
  margin-left: calc((35vw - 32vw) / 2);
  border-radius: 10px;
  box-shadow: 1px 1px 10px var(--black);
  z-index: 2;
  background-color: var(--accent2);
}

.project-block {
  position: relative;
  padding: 15px 3vw 15px 3vw;
  background-color: var(--white);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.project-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: calc(1vw + 45px);
}

.tag {
  margin: 0 3px 6px 3px;
  padding: 5px;
  border-style: solid;
  border-radius: 7px;
  border-color: var(--accent2);
  color: var(--accent2);
  font-size: 15px;
}

.project-title {
  margin-top: 8px;
  color: var(--black);
  font-weight: bold;
  font-size: 20px;
}

.project-desc {
  margin-top: 8px;
  color: var(--black);
  font-size: 15px;
}

.project-links {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-links .button {
  color: var(--white);
  text-decoration: none;
  background-color: var(--accent2);
  padding: 10px;
  border-radius: 20px;
  margin: 0 5px;
}

.project-links .button:hover {
  background-color: var(--accent2-highlight);
}

.project-links .github {
  position: absolute;
  bottom: 5px;
  right: 20px;
  color: var(--accent2);
  font-size: 40px;
}

.project-links .github:hover {
  color: var(--accent2-highlight);
}


/* for medium size screens  */
@media (min-width: 801px) and (max-width: 1200px) {
  #home {
    height: max(100vh, calc(200px + 10vh + 325px));
  }

  .home-left {
    top: calc(200px + 10vh);
  }
  
  #headshot {
    left: calc(50vw - 325px/2);
  }
  
  #headshot-block {
    left: calc(50vw - 275px/2);
  }
  
  .home-right {
    height: auto;
    top: 125px;
    left: 5vw;
    width: 90vw;
  }
  
  #title-name {
    text-align: center;
  }
  
  #title-sub {
    text-align: center;
  }
  
  .header {
    text-align: left;
    left: 10vw;
  }
  
  .content {
    top: 30px;
    left: 15vw;
    width: 70vw;
  }
  
  .skill-row {
    width: 75vw;
  }
  
  .proj {
    left: calc((53vw)/2 - 20px);
    width: 53vw;
    top: 50px;
  }
  
  .bg-block {
    top: 4vw;
    height: 50vw;
    width: 53vw;
  }
  
  .project-pics {
    width: 50vw;
  }
}

/* for teeny tiny screens  */
@media (max-width: 800px) {
  #navBar {
    display: none;
  }

  #resumeButton {
    display: none;
  }

  #contactBar {
    display: none;
  }

  #hamburgerMenu {
    display: flex;
  }

  #home {
    height: max(100vh, calc(150px + 10vh + 325px));
  }

  .home-left {
    top: calc(150px + 10vh);
  }
  
  
  #headshot {
    left: calc(50vw - 325px/2);
  }
  
  #headshot-block {
    left: calc(50vw - 275px/2);
  }
  
  .home-right {
    height: auto;
    top: 60px;
    left: 5vw;
    width: 90vw;
  }
  
  #title-name {
    text-align: center;
  }
  
  #title-sub {
    text-align: center;
  }
  
  .header {
    text-align: left;
    left: 10vw;
  }
  
  .content {
    top: 30px;
    left: 15vw;
    width: 70vw;
  }

  .content-date {
    color: var(--accent2);
    font-size: 15px;
    font-style: italic;
    position: relative;
    padding-top: 5px;
  }
  
  .skill-row {
    width: 75vw;
    flex-wrap: wrap;
  }
  
  .proj {
    left: calc(50vw - (73vw/2));
    width: 73vw;
    top: 70px;
  }
  
  .bg-block {
    top: 30px;
    height: 70vw;
    width: 73vw;
  }
  
  .project-pics {
    width: 70vw;
  }
}