.App {
  text-align: center;
}

h1 {
  text-align: left;
}

#home {
  position: relative;
  /* top: 100px; */
  height: 100vh;
}

.home-left {
  position: absolute;
  top: 200px;
  width: 40vw;
}

#headshot {
  position: absolute;
  left: 30%;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  z-index: 2;
  box-shadow: 0 5px 5px var(--black);
}

#headshot-block {
  position: absolute;
  left: calc(30% - 50px);
  top: 20px;
  border-radius: 10px;
  background-color: var(--white);
  z-index: 1;
  height: 350px;
  width: 400px;
}

.home-right {
  position: absolute;
  width: 60vw;
  height: 100vh;
  right: 0;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title-name {
  font-size: 50px;
  font-weight: bold;
  text-align: left;
}

#title-sub {
  font-size: 20px;
  color: var(--accent);
  text-align: left;
}