:root{
  --white: #F5F1F0;
  --light-accent: #67A18E;
  --accent: #648EB0;
  --dark-accent: #697191;
  --black: #0E2240;
  --pitch-black: #172A;
  --light-accent-highlight: #9FABA1;
  --accent-highlight: #6990ae;
  --dark-accent-highlight: #B1655A;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
}