:root{
  --white: #E8EDE8;
  --light-accent: #67A18E;
  --accent: #6894B2;
  --dark-accent: #697191;
  --black: #172A4F;
  --pitch-black: #172A;
  --light-accent-highlight: #9FABA1;
  --accent-highlight: #E4B062;
  --dark-accent-highlight: #B1655A;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
}