.prev-arrow {
  position: absolute;
  color: var(--black);
  z-index: 4;
  right: calc(1vw + 35px);
  padding-top: 5px;
  font-size: 50px;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.prev-arrow:hover {
  transform: scale(1.2);
  transition-duration: 100ms;
}

.next-arrow {
  position: absolute;
  color: var(--black);
  z-index: 4;
  right: 1vw;
  padding-top: 5px;
  font-size: 50px;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.next-arrow:hover {
  transform: scale(1.2);
  transition-duration: 100ms;
}

/* for teeny tiny screens  */
@media (max-width: 800px) {
  .prev-arrow:hover {
    transform: scale(1);
    transition-duration: 100ms;
  }

  .next-arrow:hover {
    transform: scale(1);
    transition-duration: 100ms;
  }
}